* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 35, 49);
    font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-block: 7rem;
    margin-inline: 2rem;
    gap: 1.2rem;
}

.cross-circle {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cross-circle> :first-child {
    font-size: 4.5rem;
    color: rgb(43, 196, 196);
    justify-content: center;
}

.cross-circle> :last-child {
    font-size: 3rem;
    font-weight: 900;
    align-self: center;
    color: rgb(201, 160, 26);
}

.sub-box {
    height: 180px;
    display: flex;
    flex-direction: column;
    padding-inline: 1.2rem;
    background-color: rgb(54, 54, 73);
    border-radius: 15px;
}

.sub-box-heading,
.sub-box-footer {
    margin-block: 15px;
    align-self: center;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(221, 241, 241);
}

.sub-box-footer {
    color: rgba(149, 158, 158, 0.3);
}

.sub-box-circle-cross {
    display: flex;
    background-color: rgb(36, 35, 49);
    height: 80px;
    border-radius: 10px;
}

.sub-box-circle-cross>div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box-circle-cross>:first-child {
    color: rgb(205, 235, 235);
}

.sub-box-circle-cross>:last-child {
    margin-block: 5px;
    margin-right: 5px;
    background-color: rgb(205, 235, 235);
    border-radius: 10px;
}

.cross {
    font-size: 3.5rem;
}

.circle {
    font-size: 2.5rem;
}