* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    margin-block: 7rem;
}

.wrapper>div {
    border: 1px solid;
}

.cross-circle {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cross-circle> :first-child {
    font-size: 4rem;
    font-weight: 900;
}

.cross-circle> :last-child {
    font-size: 3rem;
    font-weight: 900;
    align-self: center;
}